<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestListner"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="D:/automation/APS_2.0_Payroll/src/test/java/TestCases/LoginTestCases.java">
        <classes>
            <class name="TestCases.LoginTestCases">
                <methods>
                    <include name="Login_to_DashBoard"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>